.body{

    background-color: rgb(109, 90, 66);
}

.h1 {
    color: aqua; 
    text-align: center;


}

.P  {
    font-family: 'Courier New', Courier, monospace;
    color:black;


}
